@import '../node_modules/bootstrap/scss/bootstrap'

@media  (max-width: 562px)
    #navbar_icons
        display: none !important
    #first_content
        background-image: url(./img/food_mobile.jpg) !important



#first_content
    background-image: url(./img/food.jpg) 
    background-repeat: no-repeat
    background-size: 100%
    width: 100vw
    height: 80vh


#first_content_items
    min-height: 100% !important

#second_content
    background-color: $gray-200
    background-size: 100%
    width: 100vw
    height: 50%

#second_content_items
    div
        width: 300px
        height: 200px

#link_items
    svg
        margin-left: 5px
        margin-right: 5px

 